/* 
    Document   : index-admin
    Created on : 22/04/2014, 07:44:35
    Author     : ditec
    Description:
        Purpose of the stylesheet follows.
*/


/*    fieldset {background: #eee;}
legend {font-weight: bold; font-size: 13px; background: #555; color: #fff; padding: 10px 25px 8px 25px; border-radius: 8px 8px 8px 8px; }*/
#panelGeral {width: 80%; margin: 0 auto; font-size: 13px;}
/*#panelGeral .texto {border: 1px solid #ccc; border-radius: 4px 4px 4px 4px; padding: 5px;}*/
/*#panelGeral .botao {border: 1px solid #ccc; border-radius: 4px 4px 4px 4px; padding: 5px;}*/
#barSearch { 
    width: 97%; border: 1px solid #ccc;; background: #EEEEEE; padding: 0 5px 0 5px; border-radius: 5px 5px 5px 5px; text-align: right;
    vertical-align: baseline; display: inline-block;
}
#barSearch ul li {display: inline;}
#panelLeft { width: 30%; float: left; }
#panelRight { width: 68%; height: 600px; display: inline-block; padding: 0 15px 10px 0; }

.icoButtom { cursor: pointer; background: #222; color: #fff; padding: 3px 7px 3px 7px; border: 1px solid #333; border-radius: 3px 3px 3px 3px; }
.icoButtom:hover {background: #444; }  