#content.no-padding
{
    padding: 20px 0 0;
}

.navegador
{
    margin-top: 15px;
    
    height: 400px;
    position: relative;
    background: transparent url("../img/recursos/navegador.jpg") no-repeat center bottom;    
}

.navegador p
{
    position: absolute;
    margin: 0;
    
    color: #595959;
    font-size: 12px;
    font-family: "Segoe UI Regular";
}

.navegador p.texto-1
{
    bottom: 117px;
    left: 35px;
    width: 113px;
}

.navegador p.texto-2
{
    bottom: 208px;
    left: 35px;
    width: 113px;
}

.navegador p.texto-3
{
    bottom: 274px;
    left: 35px;
    width: 113px;
}

.navegador p.texto-4
{
    bottom: 362px;
    left: 72px;
    width: 160px;
}

.navegador p.texto-5
{
    bottom: 369px;
    left: 238px;
    width: 182px;
}

.navegador p.texto-6
{
    bottom: 362px;
    left: 486px;
    width: 180px;
}

.navegador p.texto-7
{
    bottom: 362px;
    right: 35px;
    width: 180px;
}

.recursos
{
    overflow: hidden;
}

.recursos h2
{
    margin-top: 0;
    margin-bottom: 60px;
    
    color: #6EA6C1;
    font-size: 30px;
    font-family: "Segoe UI Light";
    font-weight: normal;
    text-align: center;
}

.recursos h2 .destaque
{
    font-family: "Segoe UI Semibold";
}

.recursos .recurso
{
    float: left;
    width: 270px;
    margin-left: 47px;
}

.recursos .recurso h3
{
    margin: 15px 0;
    
    color: #295B8E;
    font-size: 20px;
    font-family: "Segoe UI Light";
    font-weight: normal;
}   

.recursos .recurso p.descricao
{
    color: #797C80;
    font-size: 13px;
    font-family: "Segoe UI Regular";
}

.destaque
{
    position: relative;
    margin: 45px 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
}

.destaque h2
{
    position: absolute;
    margin: 0;
    
    color: White;
    font-size: 30px;
    font-family: "Segoe UI Light";
    font-weight: normal;
}

.destaque div.descricao
{
    position: absolute;
    font-size: 15px;
    font-family: "Lucida Sans";
}

.destaque div.descricao p
{
    margin: 0;
}

.destaque a.experimentar-gratis
{
    margin-top: 40px;
    padding: 10px 50px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    
    font-size: 20px;
    font-weight: bold;
    font-family: "Lucida Sans";
}

.destaque a.experimentar-gratis:hover
{
    text-decoration: none;
}

.destaque.boleto-recorrente
{
    height: 330px;
    
    background: #793a94;
    background: -moz-linear-gradient(top, #793a94 0%, #9c59b6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #793a94), color-stop(100%, #9c59b6));
    background: -webkit-linear-gradient(top, #793a94 0%, #9c59b6 100%);
    background: -o-linear-gradient(top, #793a94 0%, #9c59b6 100%);
    background: -ms-linear-gradient(top, #793a94 0%, #9c59b6 100%);
    background: linear-gradient(to bottom, #793a94 0%, #9c59b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793a94', endColorstr='#9c59b6', GradientType=0 );
    
    box-shadow: inset 0 1px 0 #793a94 , inset 0 2px 0px rgba(255, 255, 255, .5); 
}

.destaque.boleto-recorrente h2
{
    text-align: right;
    top: 50px;
    right: 50px;
    width: 300px;
}

.destaque.boleto-recorrente div.descricao
{
    color: #E3C1F0;
    text-align: right;
    top: 150px;
    right: 50px;
    width: 520px;
}

.destaque.boleto-recorrente a.experimentar-gratis
{
    color: #7A4292;
    background-color: #B885CC;
}

.destaque.boleto-recorrente .fundo-destaque
{
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 360px;
    height: 287px;

    background: transparent url("../img/recursos/destaque-1.png") no-repeat center center;
}

.destaque.lembrete-boleto
{
    height: 330px;
    
    background: #16a084;
    background: -moz-linear-gradient(top, #16a084 0%, #1abc9c 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #16a084), color-stop(100%, #1abc9c));
    background: -webkit-linear-gradient(top, #16a084 0%, #1abc9c 100%);
    background: -o-linear-gradient(top, #16a084 0%, #1abc9c 100%);
    background: -ms-linear-gradient(top, #16a084 0%, #1abc9c 100%);
    background: linear-gradient(to bottom, #16a084 0%, #1abc9c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a084', endColorstr='#1abc9c', GradientType=0 );
    
    box-shadow: inset 0 1px 0 #16a084 , inset 0 2px 0px rgba(255, 255, 255, .5); 
}

.destaque.lembrete-boleto h2
{
    text-align: left;
    top: 50px;
    left: 50px;
    width: 500px;
}

.destaque.lembrete-boleto div.descricao
{
    color: #BFEDE4;
    text-align: left;
    top: 150px;
    left: 50px;
    width: 520px;
}

.destaque.lembrete-boleto a.experimentar-gratis
{
    color: #1ABC9C;
    background-color: #91F2DF;
}

.destaque.lembrete-boleto .fundo-destaque
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 360px;
    height: 330px;

    background: transparent url("../img/recursos/destaque-2.png") no-repeat center center;
}

.destaque.relatorio-gerencial
{
    height: 330px;
    background: #2980b9;
    background: -moz-linear-gradient(top, #2980b9 0%, #3498db 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #2980b9), color-stop(100%, #3498db));
    background: -webkit-linear-gradient(top, #2980b9 0%, #3498db 100%);
    background: -o-linear-gradient(top, #2980b9 0%, #3498db 100%);
    background: -ms-linear-gradient(top, #2980b9 0%, #3498db 100%);
    background: linear-gradient(to bottom, #2980b9 0%, #3498db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2980b9', endColorstr='#3498db', GradientType=0 );
    
    margin-bottom: 0;
    box-shadow: inset 0 1px 0 #2980b9 , inset 0 2px 0px rgba(255, 255, 255, .5); 
}

.destaque.relatorio-gerencial h2
{
    text-align: right;
    top: 50px;
    right: 50px;
    width: 500px;
}

.destaque.relatorio-gerencial div.descricao
{
    color: #BFEDE4;
    text-align: right;
    top: 120px;
    right: 50px;
    width: 520px;
}

.destaque.relatorio-gerencial a.experimentar-gratis
{
    color: #2980B9;
    background-color: #79C2F2;
}

.destaque.relatorio-gerencial .fundo-destaque
{
    position: absolute;
    left: 30px;
    bottom: 0px;
    width: 388px;
    height: 269px;

    background: transparent url("../img/recursos/destaque-3.png") no-repeat center bottom;
}