@font-face
{
    font-family: 'Lucida Sans';
    src: url('../../fonts/lucida-sans/lucida-sans.eot');
    src: url('../../fonts/lucida-sans/lucida-sansd41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/lucida-sans/lucida-sans.ttf') format('truetype'); 
    
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Lucida Sans';
    src: url('../../fonts/lucida-sans-italic/lucida-sans-italic.eot');
    src: url('../../fonts/lucida-sans-italic/lucida-sans-italicd41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/lucida-sans-italic/lucida-sans-italic.ttf') format('truetype'); 
    
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: 'Lucida Sans';
    src: url('../../fonts/lucida-sans-bold/lucida-sans-bold.eot');
    src: url('../../fonts/lucida-sans-bold/lucida-sans-boldd41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/lucida-sans-bold/lucida-sans-bold.ttf') format('truetype'); 
    
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Lucida Sans';
    src: url('../../fonts/lucida-sans-bold-italic/lucida-sans-bold-italic.eot');
    src: url('../../fonts/lucida-sans-bold-italic/lucida-sans-bold-italicd41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/lucida-sans-bold-italic/lucida-sans-bold-italic.ttf') format('truetype'); 
    
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: 'Segoe UI Semibold';
    src: url('../../fonts/segoe-ui-semibold/segoe-ui-semibold.eot');
    src: url('../../fonts/segoe-ui-semibold/segoe-ui-semiboldd41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/segoe-ui-semibold/segoe-ui-semibold.ttf') format('truetype'); 
    
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Segoe UI Regular';
    src: url('../../fonts/segoe-ui-regular/segoe-ui-regular.eot');
    src: url('../../fonts/segoe-ui-regular/segoe-ui-regulard41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/segoe-ui-regular/segoe-ui-regular.ttf') format('truetype'); 
    
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Segoe UI Light';
    src: url('../../fonts/segoe-ui-light/segoe-ui-light.eot');
    src: url('../../fonts/segoe-ui-light/segoe-ui-lightd41d.eot?#iefix') format('embedded-opentype'), 
         url('../../fonts/segoe-ui-light/segoe-ui-light.ttf') format('truetype'); 
    
    font-weight: normal; 
    font-style: normal;
}