/* Icones 100 x 100
 -------------------------------------------------------------------------------- */
 .icon-100
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.icon-100.icon-boleto
{
    background: url("../../icones/100/boleto.png") no-repeat center center;
}
.icon-100.icon-boleto.ativo
{
    background: url("../../icones/100/boleto-ativo.png") no-repeat center center;
}

.icon-100.icon-dinheiro
{
    background: url("../../icones/100/dinheiro.png") no-repeat center center;
}
.icon-100.icon-dinheiro.ativo
{
    background: url("../../icones/100/dinheiro-ativo.png") no-repeat center center;
}

.icon-100.icon-usuario
{
    background: url("../../icones/100/usuario.png") no-repeat center center;
}
.icon-100.icon-usuario.ativo
{
    background: url("../../icones/100/usuario-ativo.png") no-repeat center center;
}

.icon-100.icon-convenio
{
    background: url("../../icones/100/convenio.png") no-repeat center center;
}
.icon-100.icon-convenio.ativo
{
    background: url("../../icones/100/convenio-ativo.png") no-repeat center center;
}

.icon-100.icon-banco
{
    background: url("../../icones/100/banco.png") no-repeat center center;
}
.icon-100.icon-banco.ativo
{
    background: url("../../icones/100/banco-ativo.png") no-repeat center center;
}

.icon-100.icon-documentos
{
    background: url("../../icones/100/documentos.png") no-repeat center center;
}
.icon-100.icon-documentos.ativo
{
    background: url("../../icones/100/documentos-ativo.png") no-repeat center center;
}

.icon-100.icon-informacoes-documento
{
    background: url("../../icones/100/informacoes-documento.png") no-repeat center center;
}
.icon-100.icon-informacoes-documento.ativo
{
    background: url("../../icones/100/informacoes-documento-ativo.png") no-repeat center center;
}

.icon-100.icon-tipo-negocio
{
    background: url("../../icones/100/tipo-negocio.png") no-repeat center center;
}
.icon-100.icon-tipo-negocio.ativo
{
    background: url("../../icones/100/tipo-negocio-ativo.png") no-repeat center center;
}


/* Icones 60 x 60
 -------------------------------------------------------------------------------- */
.icon-60
{
    width: 60px;
    height: 60px;
    display: inline-block;
}

.icon-60.icon-telefone
{
    background: url("../../icones/60/telefone.png") no-repeat center center;
}

.icon-60.icon-email
{
    background: url("../../icones/60/email.png") no-repeat center center;
}

.icon-60.icon-localizacao
{
    background: url("../../icones/60/localizacao.png") no-repeat center center;
}

/* Icones 50 x 50
 -------------------------------------------------------------------------------- */
.icon-50
{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.icon-50.icon-linkedin
{
    background: url("../../icones/50/linkedin.png") no-repeat center center;
}

.icon-50.icon-instagram
{
    background: url("../../icones/50/instagram.png") no-repeat center center;
}

.icon-50.icon-googleplus
{
    background: url("../../icones/50/googleplus.png") no-repeat center center;
}

.icon-50.icon-twitter
{
    background: url("../../icones/50/twitter.png") no-repeat center center;
}

/* Icones 25 x 25
 -------------------------------------------------------------------------------- */
.icon-25
{
    width: 25px;
    height: 25px;
    display: inline-block;
}
.icon-25.icon-calendario
{
    background: url("../../icones/25/calendario.png") no-repeat center center;
}
.icon-25.icon-dollar
{
    background: url("../../icones/25/dollar.png") no-repeat center center;
}

/* Icones 20 x 20
 -------------------------------------------------------------------------------- */
.icon-20
{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.icon-20.icon-impressora
{
    background: url("../../icones/20/impressora.png") no-repeat center center;
}
.icon-20.icon-detalhes
{
    background: url("../../icones/20/detalhes.png") no-repeat center center;
}
.icon-20.icon-deletar
{
    background: url("../../icones/20/deletar.png") no-repeat center center;
}
.icon-20.icon-editar
{
    background: url("../../icones/20/editar.png") no-repeat center center;
}
.icon-20.icon-email
{
    background: url("../../icones/20/email.png") no-repeat center center;
}
.icon-20.icon-pagamento
{
    background: url("../../icones/20/pagamento.png") no-repeat center center;
}
.icon-20.icon-gerar-boleto
{
    background: url("../../icones/20/gerar-boleto.png") no-repeat center center;
}
.icon-20.icon-endereco
{
    background: url("../../icones/20/endereco.png") no-repeat center center;
}
.icon-20.icon-telefone
{
    background: url("../../icones/20/telefone.png") no-repeat center center;
}
.icon-20.icon-configuracoes
{
    background: url("../../icones/20/configuracoes.png") no-repeat center center;
}
.icon-20.icon-cadeado
{
    background: url("../../icones/20/cadeado.png") no-repeat center center;
}
.icon-20.icon-cadeado-aberto
{
    background: url("../../icones/20/cadeado-aberto.png") no-repeat center center;
}
.icon-20.icon-senha
{
    background: url("../../icones/20/senha.png") no-repeat center center;
}


/* Icones 16 x 16
 -------------------------------------------------------------------------------- */
.icon-16
{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-16.icon-calendario
{
    background: url("../../icones/16/calendario.png") no-repeat center center;
}
.icon-16.icon-dollar
{
    background: url("../../icones/16/dollar.png") no-repeat center center;
}
.icon-16.icon-sinalizador
{
    background: url("../../icones/16/sinalizador-datatable.png") no-repeat center center;
}
.icon-16.icon-pesquisar
{
    background: url("../../icones/16/pesquisar.png") no-repeat center center;
}
.icon-16.icon-sucesso
{
    background: url("../../icones/16/sucesso.png") no-repeat center center;
}
.icon-16.icon-alerta
{
    background: url("../../icones/16/alerta.png") no-repeat center center;
}