
#content-login
{
    position: relative;
    z-index: 2;
    
    min-height: 340px;
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}

#content-login .sobre-sistema
{
    float: left;
    
    width: 200px;
    margin-right: 20px;
    padding-left: 10px;
    text-align: right;
}

#content-login .sobre-sistema p
{
    margin: 0;
    margin-top: 5px;

    color: #737373;
    
    line-height: 25px;
    font-size: 17px;
    font-family: "Segoe UI Light";
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

#content-login .sobre-sistema p.destaque
{
    margin: 0;
    margin-top: 5px;
    
    font-family: "Segoe UI Semibold";
}

#content-login .tablet-notebook
{
    float: left;
    height: 100%;
    min-height: 340px;
    width: 340px;
    background: url("../../images/site/pc-tablet-02.png") no-repeat center center;
}

#content-login .box-login
{
    overflow: hidden;
    width: 380px;
    float: left;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
    margin: 5px 0;
}

#content-login .box-login .cabecalho
{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCCCCC;
    padding: 0 20px;
    
    color: #737373;
    font-size: 23px;
    font-family: "Segoe UI Semibold"; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);   
    
    background: rgba(252,252,252,1);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(228,228,228,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(228,228,228,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(228,228,228,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(228,228,228,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(228,228,228,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e4e4e4', GradientType=0 );
}

#content-login .box-login .conteudo
{
    padding: 20px;
    min-height: 230px;
    background-color: White;
    font-family: "Segoe UI Regular";
}

#content-login .box-login .conteudo a.esqueci-minha-senha
{
    font-size: 12px;
    font-family: "Lucida Sans";
}

#content-login .box-login .conteudo p.texto
{
    font-size: 12px;
    color: #999999;
    text-align: center;
    font-family: "Segoe UI Semibold";
    margin-bottom: 0;
}

#content-login .box-login .conteudo p.texto a
{
    font-size: 12px;
}

#reativar-conta p
{
    font-size: 13px;
}

#reativar-conta p:first-child
{
    margin-top: 0;
}

#reativar-conta button
{
    margin: 0;
}

.modal-resolver-cookie p.titulo
{
    font-size: 18px;
    font-weight: bold;
}

.modal-resolver-cookie .instrucoes
{
    margin: 10px 0;
}

.modal-resolver-cookie p.navegador
{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.modal-resolver-cookie p
{
    font-size: 13px;
    margin: 2px 0;
}

@media all and (max-width: 1024px) and (min-width: 700px) 
{
    #content-login 
    {
        width: 620px;
    }
    
    #content-login .tablet-notebook
    {
        display: none !important;
    }
    
    footer#mini-rodape
    {
        width: 620px;
    }
}

@media all and (max-width: 700px) and (min-width: 200px) 
{
    #content-login 
    {
        width: 382px;
    }
    
    #content-login .tablet-notebook,
    #content-login .sobre-sistema
    {
        display: none !important;
    }
    
    footer#mini-rodape
    {
        width: 100%;
        min-width: 490px;
    }
}