a
{
    cursor: pointer;
    color: #0078AF;
    font-size: 11px;
    font-family: "Lucida Sans";
    text-decoration: none;
}

p a
{
    font-size: 13px;
    font-family: "Segoe UI Regular";    
}

a:hover,
span.sublinhado
{
    text-decoration: underline;
}

.logo-sistema
{
    position: relative;
    overflow: hidden;
}

.logo-sistema a
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
 * Plugins - Botões, Modals e outros
 */
 
input,
button,
textarea
{
    outline: none;
}

button:focus
{
}

/* Cores dos botões */
input[type="button"].btn-principal,
input[type="submit"].btn-principal,
button.btn-principal,
a.btn-principal
{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #344D09;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, .5);
    
    text-align: center;
    
    background: rgba(126,183,21,1);
    background: -moz-linear-gradient(top, rgba(126,183,21,1) 0%, rgba(95,141,17,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,183,21,1)), color-stop(100%, rgba(95,141,17,1)));
    background: -webkit-linear-gradient(top, rgba(126,183,21,1) 0%, rgba(95,141,17,1) 100%);
    background: -o-linear-gradient(top, rgba(126,183,21,1) 0%, rgba(95,141,17,1) 100%);
    background: -ms-linear-gradient(top, rgba(126,183,21,1) 0%, rgba(95,141,17,1) 100%);
    background: linear-gradient(to bottom, rgba(126,183,21,1) 0%, rgba(95,141,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb715', endColorstr='#5f8d11', GradientType=0 );
    
    transition: 0.5s;
}

input[type="button"].btn-principal:focus,
input[type="submit"].btn-principal:focus,
button.btn-principal:focus
{
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, .2);
}

input[type="button"].btn-principal-contorno,
input[type="submit"].btn-principal-contorno,
button.btn-principal-contorno,
a.btn-principal-contorno
{
    cursor: pointer;
    color: #33801A;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #33801A;
    
    text-align: center;
    
    background: transparent;
    transition: 0.5s;
}

input[type="button"].btn-vermelho,
input[type="submit"].btn-vermelho,
button.btn-vermelho,
a.btn-vermelho
{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #7C1616;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, .5);
    
    text-align: center;
    
    background: rgba(232,109,109,1);
    background: -moz-linear-gradient(top, rgba(232,109,109,1) 0%, rgba(179,45,45,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,109,109,1)), color-stop(100%, rgba(179,45,45,1)));
    background: -webkit-linear-gradient(top, rgba(232,109,109,1) 0%, rgba(179,45,45,1) 100%);
    background: -o-linear-gradient(top, rgba(232,109,109,1) 0%, rgba(179,45,45,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,109,109,1) 0%, rgba(179,45,45,1) 100%);
    background: linear-gradient(to bottom, rgba(232,109,109,1) 0%, rgba(179,45,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86d6d', endColorstr='#b32d2d', GradientType=0 );
    
    transition: 0.5s;
}

input[type="button"].btn-vermelho:focus,
input[type="submit"].btn-vermelho:focus,
button.btn-vermelho:focus
{
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, .2);
}

input[type="button"].btn-laranja,
input[type="submit"].btn-laranja,
button.btn-laranja,
a.btn-laranja
{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #A54200;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, .5);
    
    text-align: center;
    
    background: rgba(243,157,18,1);
    background: -moz-linear-gradient(top, rgba(243,157,18,1) 0%, rgba(230,126,34,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,157,18,1)), color-stop(100%, rgba(230,126,34,1)));
    background: -webkit-linear-gradient(top, rgba(243,157,18,1) 0%, rgba(230,126,34,1) 100%);
    background: -o-linear-gradient(top, rgba(243,157,18,1) 0%, rgba(230,126,34,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,157,18,1) 0%, rgba(230,126,34,1) 100%);
    background: linear-gradient(to bottom, rgba(243,157,18,1) 0%, rgba(230,126,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39d12', endColorstr='#e67e22', GradientType=0 );

    transition: 0.5s;
}

input[type="button"].btn-laranja:focus,
input[type="submit"].btn-laranja:focus,
button.btn-laranja:focus
{
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, .2);
}

input[type="button"].btn-secundario,
input[type="submit"].btn-secundario,
button.btn-secundario,
a.btn-secundario
{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #08414C;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5);
    
    text-align: center;
    
    background: rgba(18,154,181,1);
    background: -moz-linear-gradient(top, rgba(18,154,181,1) 0%, rgba(14,119,140,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,154,181,1)), color-stop(100%, rgba(14,119,140,1)));
    background: -webkit-linear-gradient(top, rgba(18,154,181,1) 0%, rgba(14,119,140,1) 100%);
    background: -o-linear-gradient(top, rgba(18,154,181,1) 0%, rgba(14,119,140,1) 100%);
    background: -ms-linear-gradient(top, rgba(18,154,181,1) 0%, rgba(14,119,140,1) 100%);
    background: linear-gradient(to bottom, rgba(18,154,181,1) 0%, rgba(14,119,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#129ab5', endColorstr='#0e778c', GradientType=0 );
    
    transition: 0.5s;
}

input[type="button"].btn-secundario:focus,
input[type="submit"].btn-secundario:focus,
button.btn-secundario:focus
{
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, .2);
}

input[type="button"].btn-terciario,
input[type="submit"].btn-terciario,
button.btn-terciario,
a.btn-terciario
{
    cursor: pointer;
    color: #666666;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .75);
    
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, .5);
    
    text-align: center;
    
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(239,239,239,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef', GradientType=0 );
    
    transition: 0.5s;
}

input[type="button"].btn-terciario:focus,
input[type="submit"].btn-terciario:focus,
button.btn-terciario:focus
{
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, .2);
}

input[type="button"].btn-voltar,
input[type="submit"].btn-voltar,
button.btn-voltar,
a.btn-voltar
{
    display: inline-block;
    cursor: pointer;
    color: #B2B2B2;
    font-family: "Segoe UI Regular";
    
    text-decoration: none;
    text-align: center;
    margin: 0 0 0 15px;
    border: 0;
    padding: 0;
    
    background: white;
}

input[type="button"].btn-voltar:hover,
input[type="submit"].btn-voltar:hover,
button.btn-voltar:hover,
a.btn-voltar:hover
{
    text-decoration: underline;
}

.input-submit button.btn-voltar,
.input-submit a.btn-voltar,
.boteos button.btn-voltar,
.botoes a.btn-voltar
{
    margin-left: 0px;
    padding: 0;
}

a.btn-principal,
a.btn-secundario,
a.btn-terciario,
a.btn-vermelho,
a.btn-laranja
{
    text-decoration: none;
    display: inline-block;
}

a.btn-grande p,
a.btn-medio p,
a.btn-pequeno p
{
    margin: 0;
    padding: 0;
}

a.btn-grande p.observacao,
a.btn-medio p.observacao,
a.btn-pequeno p.observacao
{
    font-family: "Lucida Sans";
    font-weight: normal;
    font-style: italic; 
    font-size: 12px;
    color: White;
}

a.btn-pequeno p.observacao 
{
    font-size: 10px;
}

/*
 ------------------------------------------------------- 
 Tamanho dos botões
 ------------------------------------------------------- */
 
.btn-grande 
{
    font-size: 20px;
    padding: 25px 20px;
}

.btn-grande p
{
    margin: 0;
}

.btn-grande p.observacao 
{ 
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.btn-grande.btn-duas-linhas
{
    padding-top: 18px;
    padding-bottom: 18px;
}

.btn-medio 
{
    font-size: 18px;
    line-height: 23px;
    padding: 12.5px 40px;
}

.btn-pequeno 
{ 
    font-size: 13px; 
    padding: 6.5px 15px; 
}

/*
 ------------------------------------------------------- 
 Adicionais dos botões
 ------------------------------------------------------- */
div.input-text-grande span.observacao,
div.input-text span.observacao,
div.input-select span.observacao,
.input-radio span.observacao
{
    margin-left: 5px;
    color: #999999;
    font-size: 11px;
    font-family: "Segoe UI Regular";
}

.btn-center
{
    text-align: center;
}

.btn-base
{
    display: block;
    margin: 10px 0;
    padding: 15px 0;
    text-align: center;
    background-color: #D9D9D9;
}

div.botoes a.btn-principal,
div.botoes a.btn-secundario,
div.botoes a.btn-terciario
{
    overflow: visible;
}

div.botoes span.ou
{
    overflow: hidden;
    display: inline-block;
    padding: 0 25px;
    line-height: 45px;
    font-size: 20px;
    font-family: "Segoe UI Light";
}

div.botoes .btn-medio
{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-medio span.carregando
{
    position: relative;
    top: 2px;
    margin: 0;
    margin-right: 10px;
    line-height: 16px;
    padding: 0;
    width: 16px;
    height: 16px;
    display: none;
}

.btn-principal span.carregando
{
    background: url("../icones/16/carregando-verde.gif") no-repeat center center;
}

.btn-vermelho span.carregando
{
    background: url("../icones/16/carregando-vermelho.gif") no-repeat center center;
}

.btn-medio.btn-terciario span.carregando
{
    background: url("../icones/16/carregando-preto.gif") no-repeat center center !important;
}

div.input-submit
{
    margin: 25px 0 0;
}

div.input-submit.botoes button,
div.input-submit.botoes a.btn-principal,
div.input-submit.botoes a.btn-secundario,
div.input-submit.botoes a.btn-terciario
{
    margin-right: 20px;
}

/* Inputs */
input[type="button"].btn-principal-no-margin,
input[type="submit"].btn-principal.no-margin,
button.btn-principal.no-margin,
a.btn-principal.no-margin
{
    margin-top: 0; 
}

input[type="text"].input-grande, 
input[type="password"].input-grande
{
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    font-weight: normal;
    
    margin: 5px 0;
    font-size: 15px;
    padding: 13px;
    color: #333333;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background-color: white;
}

div.input-text-grande,
div.input-text
{
    margin: 15px 0;
    overflow: hidden;
}

div.input-text-grande span,
div.input-text span
{
    color: #999;
    font-size: 13px;
    font-family: "Lucida Sans";
}

div.input-text-grande.no-margin,
div.input-text.no-margin
{
    margin-top: 0;
}

div.input-text.no-margin-all,
div.input-text-grande.no-margin-all
{
    margin: 0;
}

div.input-text-grande label,
div.input-text label
{
    color: #666666;
    font-size: 13px;
    font-family: "Lucida Sans";
}

div.input-text-grande label
{
    font-size: 15px;
}

div.input-text-grande input,
div.input-text input,
div.input-text textarea
{
    font-size: 15px;
    font-family: "Lucida Sans";
    padding: 7px 10px;
    
    display: block;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    background-color: White;
}

div.input-text-grande
{
    margin: 10px 0;
}

div.input-text-grande label
{
    color: #666666;
    font-size: 18px;
    font-family: "Segoe UI Light";
    font-weight: bold;
}

div.input-text-grande input
{
    display: block;
}

div.input-text-grande span.notificacao
{
    margin-left: 5px;
    display: block;
    padding-left: 25px;

    color: #999999;
    font-size: 10px;
    line-height: 14px;
    font-family: "Lucida Sans";
    background-position: center left;
    background-repeat: no-repeat;
}

div.input-text-busca
{
    margin: 0;
    position: relative;
    display: inline-block;
}

div.input-text-busca input
{
    margin: 0;
    padding-right: 43px;
}

div.input-text-busca .icone-busca
{
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 31px;
    
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border: 1px solid #BBBBBB;
    
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(239,239,239,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef', GradientType=0 );
}

div.input-text-busca .icone-busca i
{
    position: absolute;
    margin: -8px 0 0 -8px;
    top: 50%;
    left: 50%;
}

/* Input select
 --------------------------------------------------------------- */
div.input-select
{
    margin: 15px 0;
    overflow: hidden;
}

div.input-select.no-margin
{
    margin-top: 0;
}

div.input-select label
{
    color: #666666;
    font-size: 13px;
    font-family: "Lucida Sans";
}


div.input-select select
{
    font-size: 15px;
    font-family: "Lucida Sans";
    padding: 7px 10px;
    
    display: block;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    background-color: White;
}

div.input-text p
{
    margin: 5px 0;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    font-family: "Lucida Sans";
}

div.input-text p a
{
    font-weight: normal;
}

/* Input radio
 --------------------------------------------------------------- */
.input-radio label
{
    color: #666666;
    font-size: 13px;
    font-family: "Lucida Sans";
}

.input-radio .grupo-radio .ui-button
{
    padding: 10px;
    
    color: #999999;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
    border: 1px solid #CCCCCC;
    
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(239,239,239,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef', GradientType=0 );
}

.input-radio .grupo-radio .ui-button.ui-state-focus
{
    box-shadow: 0 0 5px rgba(131, 181, 0, 1);
}

.input-radio .grupo-radio .ui-button.ui-state-hover
{
    border: 1px solid rgba(0, 0, 0, .1);
}

.input-radio .grupo-radio .ui-button.ui-state-active
{
    color: White;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    border: 1px solid #407200;
    
    background: rgba(131,181,0,1);
    background: -moz-linear-gradient(top, rgba(131,181,0,1) 0%, rgba(79,126,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(131,181,0,1)), color-stop(100%, rgba(79,126,0,1)));
    background: -webkit-linear-gradient(top, rgba(131,181,0,1) 0%, rgba(79,126,0,1) 100%);
    background: -o-linear-gradient(top, rgba(131,181,0,1) 0%, rgba(79,126,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(131,181,0,1) 0%, rgba(79,126,0,1) 100%);
    background: linear-gradient(to bottom, rgba(131,181,0,1) 0%, rgba(79,126,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b500', endColorstr='#4f7e00', GradientType=0 );
}

/* Notificações
 --------------------------------------------------------------- */

span.notificacao,
div.input-text span.notificacao
{
    margin-left: 5px;
    display: block;
    padding-left: 25px;

    color: #999999;
    font-size: 12px;
    line-height: 15px;
    font-family: "Lucida Sans";
    background-position: center left;
    background-repeat: no-repeat;
}

span.notificacao.alerta,
div.input-text-grande.alerta span.notificacao,
div.input-text.alerta span.notificacao
{
    background-image: url("../../icones/16/alerta.png");
}

span.notificacao.carregando,
div.input-text-grande.carregando span.notificacao,
div.input-text.carregando span.notificacao
{
    background-image: url("../../icones/16/carregando-preto.gif");
}

span.notificacao.sucesso,
div.input-text-grande.sucesso span.notificacao,
div.input-text.sucesso span.notificacao
{
    background-image: url("../../icones/16/sucesso.png");
}

/* Datepicker */
.input-datepicker .input-datepicker-clear
{
    position: relative;
}

.input-datepicker .input-datepicker-clear button
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 5px 0 0 5px;
    width: 33px;
    height: 33px;
    
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(239,239,239,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef', GradientType=0 );
}

.input-datepicker .input-datepicker-clear input
{
    padding-left: 43px;
}

/* Money */
.input-money
{
}

.input-money .input-money-clear
{
    position: relative;
}

.input-money .input-money-clear input
{
    padding-left: 43px;
}

.input-money .input-money-clear input[disabled=disabled]
{
    background: #F5F5F5;
    color: #AAAAAA;
}

.input-money .input-money-clear div.icone
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px 0 0 5px;
    width: 15px;
    height: 15px;
    
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(239,239,239,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef', GradientType=0 );
}

/* Mensagens */
.mensagem-erro
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EEDBB3;
    background-color: #FFFDDD;
    margin: 0 0 20px;
    
    color: #9C7B32;
    font-family: "Segoe UI Regular";
}

.mensagem-erro .destaque
{
    margin: 0 0 5px;
    font-family: "Segoe UI Semibold";
}

.mensagem-erro ul 
{
    padding: 0;
}

.mensagem-erro ul li
{
    margin: 5px 0;
    font-size: 13px;
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.mensagem-sucesso
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8CD882;
    background-color: #E7FFDD;
    margin: 0 0 20px;
    
    color: #439C32;
    font-size: 13px;
    font-family: "Segoe UI Semibold";
}

/* Notificações Geral
 ------------------------------------------------------------------------ */
.notificacao-icone-titulo
{
    background-image: none !important;
}

/* Notificações Sucesso
 ------------------------------------------------------------------------ */
.notificacao-sucesso
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BFD3B4;
    background-color: #DEF4DD;
    margin: 0 0 20px;
    
    color: #4F8C4C;
    font-size: 13px;
    font-family: "Segoe UI Semibold";
}

#site #wrapper .content .notificacao-sucesso.notificacao-pequeno
{
    margin-bottom: 10px;
}

.notificacao-sucesso.notificacao-pequeno
{
    padding: 10px 15px;
}

.notificacao-sucesso.notificacao-pequeno p
{
    margin: 0;
}

/* Notificações Informativa
 ------------------------------------------------------------------------ */
.notificacao-informacao
{
    position: relative;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #69B5E5;
    background-color: #E5F6FF;
    font-family: "Segoe UI Regular";
}

.notificacao-informacao.notificacao-grande
{
    padding-left: 100px;
    background: #E5F6FF url("../img/notificacao-informacao-grande.png") no-repeat 25px center;
}

.notificacao-informacao.notificacao-icone-titulo.notificacao-pequeno
{
    margin: 20px 0 10px;
    padding: 10px;
}

.notificacao-informacao.notificacao-icone-titulo.notificacao-pequeno p.titulo
{
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    margin-bottom: 10px;
    
    font-size: 13px;
    font-family: "Segoe UI Semibold";
    background: #E5F6FF url("../../images/site/notificacao-informacao-pequeno.png") no-repeat left center;
}

.notificacao-informacao.notificacao-grande p.titulo
{
    margin: 0;   
    font-size: 17px;
}

.notificacao-informacao.notificacao-grande p
{
    margin-bottom: 0;    
    font-size: 13px;
    font-weight: lighter;
}

.notificacao-informacao.notificacao-grande p a
{
    color: #0078B0;
}

.notificacao-informacao.notificacao-pequeno
{
    margin: 10px 0;
    padding: 15px;
    padding-left: 35px;
    background: #E5F6FF url("../../images/site/notificacao-informacao-pequeno.png") no-repeat 8px center;
}

.notificacao-informacao.notificacao-pequeno p
{
    font-size: 13px;
    margin: 0;
}

.notificacao-informacao .seta-cima-cor,
.notificacao-informacao .seta-cima-contorno
{
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #E5F6FF;
}

.notificacao-informacao .seta-cima-contorno
{
    border-bottom-color: #69B5E5;
}

.notificacao-informacao.notificacao-pequeno ul
{
    margin-bottom: 0;
}

.notificacao-informacao.notificacao-pequeno ul li
{
    font-size: 12px;
    margin: 5px 0;
}

/* Notificações Aviso
 ------------------------------------------------------------------------ */
.notificacao-aviso
{
    padding: 25px;
    border-radius: 5px;
    color: #A58645;
    border: 1px solid #E9DD8F;
    background-color: #FFF8A7;
    
    font-weight: lighter;
    font-family: "Segoe UI Regular";
}

.notificacao-aviso p
{
    margin-bottom: 0;    
    font-size: 12px;
}

.notificacao-aviso.notificacao-icone-titulo.notificacao-pequeno
{
    margin: 20px 0 10px;
    padding: 10px;
}

.notificacao-aviso.notificacao-icone-titulo.notificacao-pequeno p.titulo
{
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    margin-bottom: 10px;
    
    font-size: 13px;
    font-family: "Segoe UI Semibold";
    background: #FFF8A7 url("../../images/site/notificacao-aviso-pequeno.png") no-repeat left center;
}

.notificacao-aviso.notificacao-grande
{
    padding-left: 100px;
    background: #FFF8A7 url("../img/notificacao-aviso-pequeno.png") no-repeat 25px center;
}

.notificacao-aviso.notificacao-pequeno
{
    padding: 15px;
    padding-left: 35px;
    background: #FFF8A7 url("../../images/site/notificacao-aviso-pequeno.png") no-repeat 7px center;
}

.notificacao-aviso.notificacao-pequeno p
{
    margin: 0;
}

.notificacao-aviso.notificacao-pequeno ul
{
    margin-bottom: 0;
}

.notificacao-aviso.notificacao-pequeno ul li
{
    font-size: 12px;
    margin: 5px 0;
}

.notificacao-aviso.notificacao-textual
{
    padding: 5px;
    padding-left: 35px;
    border: 0px;
    background-color: transparent !important;
}

.notificacao-aviso.notificacao-textual,
.notificacao-aviso.notificacao-textual p
{
    color: #C40C0C !important;
}

/* Notificações Erro
 ------------------------------------------------------------------------ */
.notificacao-erro
{
    padding: 25px;
    border-radius: 5px;
    color: #A54545;
    border: 1px solid #D46969;
    background-color: #FFA7A7;
    font-family: "Segoe UI Regular";
}

.notificacao-aviso p
{
    margin-bottom: 0;    
    font-size: 12px;
    font-weight: lighter;
    font-family: "Segoe UI Regular";
}

.notificacao-aviso.erro-icone-titulo.notificacao-pequeno
{
    margin: 20px 0 10px;
    padding: 10px;
}

.notificacao-aviso.erro-icone-titulo.notificacao-pequeno p.titulo
{
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    margin-bottom: 10px;
    
    font-size: 13px;
    font-family: "Segoe UI Semibold";
    background: #FFF8A7 url("../../images/site/notificacao-aviso-pequeno.png") no-repeat left center;
}

.notificacao-erro.notificacao-pequeno
{
    padding: 15px;
}

.notificacao-erro.notificacao-pequeno p
{
    font-size: 13px;
    margin: 0;
}

/* Notificações desenvolvimento
 ------------------------------------------------------------------------ */
.notificacao-pequeno 
{
    padding: 15px;
}

.notificacao-desenvolvimento 
{
    position: relative;
    margin-bottom: 10px;
    
    border-radius: 5px;
    color: #777777;
    border: 1px solid #B4DAE5;
    background-color: #F0F7FA;
    font-family: "Segoe UI Regular";
}


.notificacao-desenvolvimento .seta-cima,
.notificacao-desenvolvimento .seta-baixo 
{
    position: absolute;
	top: -14px;
	left: 25px;
	
    border: 7px solid transparent;
}

.notificacao-desenvolvimento .seta-cima 
{
    z-index: 2;
	border-bottom-color: #F0F7FA;
}

.notificacao-desenvolvimento .seta-baixo 
{
	top: -15px;
    z-index: 1;
    border-bottom-color: #B4DAE5;	
}

.notificacao-desenvolvimento.notificacao-icone-titulo 
{
    background-image: none;
}

.notificacao-desenvolvimento p 
{
	margin: 0;
    color: #526169;
    
    font-size: 12px;
    font-family: "Segoe UI Regular";
}

.notificacao-desenvolvimento.notificacao-icone-titulo p.titulo
{
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    margin-bottom: 10px;
    
    font-family: "Segoe UI Semibold";
    background-image: url("../../images/site/notificacao-desenvolvimento-pequeno.png");
    background-repeat: no-repeat;
    background-position: left center;
}

/* Mensagem excecao
 ------------------------------------------------------------------------------------------------ */
#mensagem-excecao
{
    position: fixed;
    z-index: 50000;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    display: none;
    
    background: #FFF8A7;
    border-bottom: 1px solid #E9DD8F;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

#mensagem-excecao p
{
    line-height: 50px;
    text-align: center;
    color: #A58645;
    margin: 0;
    
    font-size: 15px;
    font-family: "Segoe UI Semibold";
}

/* Mensagem plano
 ------------------------------------------------------------------------------------------------ */
#mensagem-plano
{
    text-align: center;
    
    position: relative;
    background: #FFF8A7; 
    border: 1px solid #FFBA00;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

#mensagem-plano a
{
    position: relative;
    margin: 0;
    margin-left: 10px;
}

#mensagem-plano p
{
    margin: 0;
    display: inline-block;
    line-height: 50px;
    color: #A58645;
    font-size: 15px;
    font-family: "Segoe UI Semibold";
}
